main {
    background-color: whitesmoke;
    padding: 20px;
}

.btn {
    margin: 5px;
    text-emphasis: bold;
}

.gif-box {
    padding: 10px;
    width: fit-content;
    margin: 0;
    height: 240px;
    float: left;
    text-align: center;
}

.row {
    padding-left: 20px;
}

#images {
    min-width: 800px;
    max-width: 900px;
}

#input {
    max-width: 200px;
    padding-right:50px;

}